<div *ngFor="let n of notifications" class="alert alert-{{al.getLevel(n.level)}} alert-dismissible" role="alert">
  <button type="button" class="close" (click)="close(n)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{n.heading}}</strong> {{n.message}}
</div>